@using ProgramacionWeb.Models;
@model List<SucursalCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Agregar","Agregar","Sucursal",null,new { @class="btn btn-primary"})

<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>@Html.LabelFor(p => Model[0].iidsucusal)</td>
                <td>@Html.LabelFor(p => Model[0].nombre)</td>
                <td>@Html.LabelFor(p => Model[0].telefono)</td>
                <td>@Html.LabelFor(p => Model[0].email)</td>
                <td width="10%">Operaciones</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.iidsucusal</td>
                <td>@item.nombre</td>
                <td>@item.telefono</td>
                <td>@item.email</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Sucursal", new { id = @item.iidsucusal }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                @Html.ActionLink(" ", "Eliminar", "Sucursal", new { id = @item.iidsucusal }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
            </td>


            </tr>
            }
        </tbody>


</table>