@using ProgramacionWeb.Models
@model ClienteCLS
@{
    ViewBag.Title = "Agregar";

    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.lista;
}

<h2>Agregar</h2>

<div class="row">
    <div class="col-md-">
        @using (Html.BeginForm("Agregar", "Cliente", FormMethod.Post))
        {

            <div>
                @Html.LabelFor(p => p.nombre)
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.appaterno)
                @Html.TextBoxFor(p => p.appaterno, new { @class = "form-control" })
                @Html.ValidationMessage("appaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.apmaterno)
                @Html.TextBoxFor(p => p.apmaterno, new { @class = "form-control" })
                @Html.ValidationMessage("apmaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.email)
                @Html.TextBoxFor(p => p.email, new { @class = "form-control" })
                @Html.ValidationMessage("email", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.direccion)
                @Html.EditorFor(p => p.direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("direccion", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.iidsexo)
                @Html.DropDownList("iidsexo", listaSexo, null, new { @class = "form-control" })
                @Html.ValidationMessage("iidsexo", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.telefonocelular)
                @Html.TextBoxFor(p => p.telefonocelular, new { @class = "form-control" })
                @Html.ValidationMessage("telefonocelular", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.telefonofijo)
                @Html.TextBoxFor(p => p.telefonofijo, new { @class = "form-control" })
                @Html.ValidationMessage("telefonofijo", new { @class = "text-danger" })
            </div>

            <br />

            <div style="margin:auto">
                @*<input type="submit" value="Enviar" class="btn btn-primary" />*@

                <button id="myInput" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalConfirm">
                    Enviar doc
                </button>
            </div>
        }
    </div>
</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="modalConfirm"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Desea guardar los cambios?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div style="padding:1em">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>







<script>

  //MOSTRAR EL MODAL DE CONFIRMACIÓN

    $(document).ready(function () {
        $("#myInput").click(function () {
            $("#modalConfirm").modal('show');
        });
    });


</script>