@using ProgramacionWeb.Models
@model List<EmpleadoCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*Agregar un boton con estilos*@
@Html.ActionLink("Agregar", "Agregar", "Empleado", null, new { @class = "btn btn-primary" })


<table class="table table-hover table-bordered">
    <thead>

        <tr>
            <td>@Html.LabelFor(p => Model[0].iidEmpleado)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].appaterno)</td>
            <td>@Html.LabelFor(p => Model[0].apmaterno)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoContrato)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoUsuario)</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.iidEmpleado</td>
            <td>@item.nombre</td>
            <td>@item.appaterno</td>
            <td>@item.apmaterno</td>
            <td>@item.nombreTipoContrato</td>
            <td>@item.nombreTipoUsuario</td>
            <td>
                @Html.ActionLink(" ", "Editar", "Empleado", new { id = @item.iidEmpleado }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                @Html.ActionLink(" ", "Eliminar", "Empleado", new { id = @item.iidEmpleado }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
            </td>

        </tr>
        }
    </tbody>

</table>