@using ProgramacionWeb.Models
@model List<EmpleadoCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover table-bordered" >
    <thead>

        <tr>
            <td>@Html.LabelFor(p => Model[0].iidEmpleado)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].appaterno)</td>
            <td>@Html.LabelFor(p => Model[0].apmaterno)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoContrato)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoUsuario)</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.iidEmpleado</td>
                    <td>@item.nombre</td>
                    <td>@item.appaterno</td>
                    <td>@item.apmaterno</td>
                    <td>@item.nombreTipoContrato</td>
                    <td>@item.nombreTipoUsuario</td>

                </tr>
            }
    </tbody>

</table>